*{
    margin: 0;
    padding: 0;

}
body{
    height: 100vh;
    background-image: url('./bg01.jpeg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}
.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    
    
}
#score{
   
    padding: 10px; 
    font-size: 20px;font-family: sans-serif;
    color: #fff
}
.comandos{
   
    display: flex;
    width: 150px;
    height: 150px;
    position: relative;
    margin-left: calc(50% - 80px);
    margin-top: 20px;
    margin-bottom: 20px;
   
}
#left,
#up,
#right,
#down{
    width: 50px;
    height: 50px;
    border-radius: 3px;
    border: none;
    position: absolute;
    transition: .2s;
    background-color: rgb(17, 31, 120);
    border: 1px inset rgb(231, 61, 17)
}
#left{
    left: -20;
    top: 50px;
    box-shadow: 5px -5px 2px rgb(72, 72, 75) inset;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#left:active,
#up:active,
#right:active,
#down:active{
    box-shadow: -1px -3px 2px rgb(72, 72, 75) inset;
}
#up{
   left: 50px;
   box-shadow: 5px 5px  2px rgb(72, 72, 75) inset;
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;
   

}
#right{
   top: 50px;
   left: 100px;
   box-shadow: -5px -5px 2px rgb(72, 72, 75) inset;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;

}
#down{
    
    top: 100px;
    left: 50px;
    box-shadow: -5px -5px 2px rgb(72, 72, 75) inset;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.c{
    border-top: 1px double rgb(43, 29, 31);
    margin: 0px 0px;
    height: 30%;
    display: flex;
    align-items: center;
    
   
}