.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 5px;
    border: 3px inset red;

    
    
}
#score{
    border: 3px inset red;
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 10px;
}
.comandos{
   
    display: flex;
    width: 120px;
    height: 120px;
    position: relative;
    margin-left: calc(50% - 60px);
    margin-top: 20px;
    margin-bottom: 20px;
    z-index: 1;
}
#left,
#up,
#right,
#down{
    width: 40px;
    height: 40px;
    border-radius: 3px;
    border: none;
    position: absolute;
    transition: .2s;
    background-color: rgb(128, 127, 132);
    opacity: 1;
}
#left{
    left: 0;
    top: 40px;
    box-shadow: 5px -5px 2px rgb(72, 72, 75) inset;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#left:active,
#up:active,
#right:active,
#down:active{
    box-shadow: -1px -3px 2px rgb(72, 72, 75) inset;
}
#up{
   left: 40px;
   box-shadow: 5px 5px  2px rgb(72, 72, 75) inset;
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;

}
#right{
   top: 40px;
   left: 80px;
   box-shadow: -5px -5px 2px rgb(72, 72, 75) inset;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;

}
#down{
    
    top: 80px;
    left: 40px;
    box-shadow: -5px -5px 2px rgb(72, 72, 75) inset;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.c{
    background-image: url(./cobra.jpg);
    background-size: cover;
    background-position: bottom;
    margin-top: 5px;
    border-radius: 10px;
    z-index: 0;
    height: 180px;
}